/*Overrides to make the navbar smaller*/
nav {
    height: 40px;
    line-height: 40px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 40px;
    line-height: 40px;
}

nav .button-collapse i {
    height: 40px;
    line-height: 40px;
}

nav .brand-logo { 
    font-size: 1.5rem;
    /* Add padding to the left  and right of the main logo text*/
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 40px;
        line-height: 40px;
    }
}
/*Overrides class card small to remove content cutoff while keeping fixed height*/
.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  max-height: 100%;
  overflow: hidden;
}